body{margin:0px;padding: 0px;}

#board, #BoardWrapper {
    height: 400px;
    width: 400px;
    margin:auto;
    position: relative;
}

ul{
    list-style:none;
    margin:0px;
    padding:0px;
}

#BoardNumbers{position: absolute;left:-10px;}
#BoardNumbers li{line-height:50px;height:50px;}
#BoardLetters{position: absolute;bottom:-20px;}
#BoardLetters li{display:block;float:left;width:50px;text-align:center;}


#board .column {
    height: 50px;
    width: 50px;
    background: #919191;
    float: left;
    font-size: 45px;
}

#board .column.dark {
    background: #434343;
}

#board .column div {
    height: 50px;
    width: 50px;
}

#board .column .WHITE_KING {
    background: url('../images/wKing.png');
}

#board .column .WHITE_QUEEN {
    background: url('../images/wQueen.png');
}

#board .column .WHITE_ROOK {
    background: url('../images/wRook.png');
}

#board .column .WHITE_BISHOP {
    background: url('../images/wBishop.png');
}

#board .column .WHITE_KNIGHT {
    background: url('../images/wKnight.png');
}

#board .column .WHITE_PAWN {
    background: url('../images/wPawn.png');
}


#board .column .BLACK_KING {
    background: url('../images/bKing.png');
}

#board .column .BLACK_QUEEN {
    background: url('../images/bQueen.png');
}

#board .column .BLACK_ROOK {
    background: url('../images/bRook.png');
}

#board .column .BLACK_BISHOP {
    background: url('../images/bBishop.png');
}

#board .column .BLACK_KNIGHT {
    background: url('../images/bKnight.png');
}

#board .column .BLACK_PAWN {
    background: url('../images/bPawn.png');
}

#board .column .EMPTY {
    background: none;
}