html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

#board, #BoardWrapper {
    height: 400px;
    width: 400px;
    margin:auto;
    position: relative;
}

ul{
    list-style:none;
    margin:0px;
    padding:0px;
}

#BoardNumbers{position: absolute;left:-10px;}
#BoardNumbers li{line-height:50px;height:50px;}
#BoardLetters{position: absolute;bottom:-20px;}
#BoardLetters li{display:block;float:left;width:50px;text-align:center;}


#board .column {
    height: 50px;
    width: 50px;
    background: #919191;
    float: left;
    font-size: 45px;
}

#board .column.dark {
    background: #434343;
}

#board .column div {
    height: 50px;
    width: 50px;
}

#board .column .WHITE_KING {
    background: url('images/wKing.png');
}

#board .column .WHITE_QUEEN {
    background: url('images/wQueen.png');
}

#board .column .WHITE_ROOK {
    background: url('images/wRook.png');
}

#board .column .WHITE_BISHOP {
    background: url('images/wBishop.png');
}

#board .column .WHITE_KNIGHT {
    background: url('images/wKnight.png');
}

#board .column .WHITE_PAWN {
    background: url('images/wPawn.png');
}


#board .column .BLACK_KING {
    background: url('images/bKing.png');
}

#board .column .BLACK_QUEEN {
    background: url('images/bQueen.png');
}

#board .column .BLACK_ROOK {
    background: url('images/bRook.png');
}

#board .column .BLACK_BISHOP {
    background: url('images/bBishop.png');
}

#board .column .BLACK_KNIGHT {
    background: url('images/bKnight.png');
}

#board .column .BLACK_PAWN {
    background: url('images/bPawn.png');
}

#board .column .EMPTY {
    background: none;
}